@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
 :root {
    --text-dark: #00002E;
    --text-light: #FFFFFF;
    --light: #0000FF;
    --dark: #0000B8;
    --main: #0000DC;
}

* {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

body.preload * {
    animation-duration: 0s !important
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: var(--text-light);
}

 ::-webkit-scrollbar-thumb {
    background: var(--light);
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
}

nav {
    width: 350px;
    height: 100%;
    position: fixed;
    background-color: var(--main);
}

nav h2 {
    color: var(--text-light);
    margin: 25px 0 0 20px;
    user-select: none;
}

nav ul {
    position: absolute;
    top: calc(50% - 250px);
    left: 0;
    width: 100%;
    height: 500px;
    padding: 0;
    list-style: none;
}

nav ul li {
    width: 225px;
    height: 50px;
    background-color: var(--text-light);
    padding-left: 25px;
    margin-left: 25px;
    border-radius: 25px;
}

nav ul li:not(:last-child) {
    margin-bottom: 25px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-dark);
    font-size: large;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
}

#curentItemCaret {
    color: var(--text-light);
    font-size: xx-large;
    position: absolute;
    right: 35px;
    margin-top: 5px;
    transition: top 500ms ease-in-out;
}

nav .social {
    position: absolute;
    width: 130px;
    bottom: 10px;
    left: calc(50% - 65px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .social a {
    color: var(--text-light);
    text-decoration: none;
    font-size: x-large;
}


/* My projects div */

#my_projects {
    position: absolute;
    width: calc(100% - 350px);
    height: 100%;
    right: 0;
    top: 0;
}

#my_projects h1 {
    color: var(--text-dark);
    margin: 50px 0 0 45px;
}

#my_projects ul {
    position: absolute;
    width: 90%;
    height: 500px;
    top: 200px;
    left: 5%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#my_projects ul li {
    width: 350px;
    height: 100%;
    background-color: var(--main);
    border-radius: 15px;
    border: 1px var(--dark) solid;
}

#my_projects ul li img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 100ms ease-out;
    user-select: none;
}

#my_projects ul li img:hover {
    transform: scale(1.1);
    transition: transform 250ms ease-out;
    object-fit: contain;
    border: 1px var(--dark) solid
}

#my_projects ul li h3,
#my_projects ul li p {
    color: var(--text-light);
    margin: 10px 0 0 15px;
}

#my_projects ul li p {
    width: calc(100% - 115px)
}

.jsfiddleLink {
    background-color: var(--text-light);
    color: var(--text-dark);
    text-decoration: none;
    border-radius: 15px;
    padding: 3px 8px 2px 8px;
    position: relative;
    left: calc(100% - 110px);
    bottom: 10px;
    user-select: none;
}

.downloadLink {
    background-color: var(--text-light);
    color: var(--text-dark);
    text-decoration: none;
    border-radius: 15px;
    padding: 3px 5px 2px 5px;
    position: relative;
    left: calc(100% - 110px);
    user-select: none;
    bottom: 10px;
}


/* Demo projects div */

#demo_projects {
    position: absolute;
    width: calc(100% - 350px);
    height: 100%;
    right: 0;
    top: 100%;
}

#demo_projects h1 {
    color: var(--text-dark);
    margin: 100px 0 0 45px;
}

#demo_projects h2 {
    color: var(--text-dark);
    position: absolute;
    top: 200px;
    left: 45px
}

#demo_projects ul {
    list-style: none;
    width: 750px;
    position: absolute;
    padding: 0;
    left: 45px;
    top: 250px;
    border: 2px var(--main) solid;
    border-radius: 10px;
}

#demo_projects ul li {
    position: relative;
    margin: 0;
    padding: 5px
}

#demo_projects ul li:not(:last-child) {
    border-bottom: 2px var(--main) solid;
}

#demo_projects ul li h3 {
    margin: 0;
    margin-bottom: 10px;
}

#demo_projects ul li p {
    margin: 0;
    width: 600px;
}

#demo_projects ul li .hideCont div {
    position: absolute;
    right: 0;
    bottom: 3px;
    width: 35px;
    display: flex;
    justify-content: space-between;
}

#demo_projects ul li .hideCont a {
    position: absolute;
    right: 65px;
    bottom: -1px;
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    color: var(--text-dark)
}

#demo_projects ul li .hideCont {
    animation: hideShownCont 1s;
    margin-top: -35px;
    opacity: 0;
    color: var(--text-dark)
}

#demo_projects ul li .hideCont.open {
    animation: showHiddenCont 1s;
    margin-top: 0;
    opacity: 1;
}

@keyframes showHiddenCont {
    0% {
        margin-top: -35px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes hideShownCont {
    0% {
        margin-top: 0;
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        margin-top: -35px;
    }
}

.openTab {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -4px;
}

.openTab div {
    border-radius: 5px;
    height: 5px;
    background-color: var(--main);
    position: relative;
}

.openTab div:nth-child(1) {
    animation: closeTabLine1 500ms;
    width: 20px;
    left: 5px;
    top: 26px;
    transform: rotate(45deg);
}

.openTab div:nth-child(2) {
    animation: closeTabLine2 500ms;
    width: 20px;
    left: 16px;
    top: 21px;
    transform: rotate(-45deg);
}

.openTab.open div:nth-child(1) {
    animation: openTabLine1 500ms;
    width: 28px;
    left: 7px;
    top: 20px;
    transform: rotate(-45deg);
}

.openTab.open div:nth-child(2) {
    animation: openTabLine2 500ms;
    width: 28px;
    left: 7px;
    top: 15px;
    transform: rotate(45deg);
}

@keyframes openTabLine1 {
    from {
        width: 20px;
        left: 5px;
        top: 26px;
        transform: rotate(45deg);
    }
    to {
        width: 28px;
        left: 7px;
        top: 20px;
        transform: rotate(-45deg);
    }
}

@keyframes openTabLine2 {
    from {
        width: 20px;
        left: 16px;
        top: 21px;
        transform: rotate(-45deg);
    }
    to {
        width: 28px;
        left: 7px;
        top: 15px;
        transform: rotate(45deg);
    }
}

@keyframes closeTabLine1 {
    from {
        width: 28px;
        left: 7px;
        top: 20px;
        transform: rotate(-45deg);
    }
    to {
        width: 20px;
        left: 5px;
        top: 26px;
        transform: rotate(45deg);
    }
}

@keyframes closeTabLine2 {
    from {
        width: 28px;
        left: 7px;
        top: 15px;
        transform: rotate(45deg);
    }
    to {
        width: 20px;
        left: 16px;
        top: 21px;
        transform: rotate(-45deg);
    }
}


/*More div*/

#more {
    position: absolute;
    width: calc(100% - 350px);
    height: 100%;
    right: 0;
    top: 200%;
    border-top: 3px var(--dark) solid;
}